@model Message
<section id="contact" class="s-contact target-section">

    <div class="overlay"></div>

    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>İletişim</h3>
            <h1>Bana Ulaşın</h1>
        </div>
    </div>

    <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
            <form asp-controller="Contact" method="post" asp-action="SendMessage">
                <fieldset>
                    <div class="form-field">
                        <input class="full-width btn--primary" asp-for="NameSurname" type="text" placeholder="Name" value="" minlength="2" required="" aria-required="true" class="form-control">
                    </div>
                    <div class="form-field">
                        <input class="full-width btn--primary" asp-for="Email" type="email" placeholder="Email" value="" required="" aria-required="true" class="form-control">
                    </div>
                    <div class="form-field">
                        <input class="full-width btn--primary" asp-for="Subject" type="text" placeholder="Subject" value="" minlength="2" required="" ria-required="true" class="form-control">
                    </div>
                    <div class="form-field">
                        <textarea class="full-width btn--primary" asp-for="MessageDetail" placeholder="message" rows="10" cols="50" minlength="2" required="" aria-required="true" class="form-control"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="btn btn-primary">Gönder</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="message-success">
                    @TempData["SuccessMessage"]
                </div>
            }
            else if (TempData["ErrorMessage"] != null)
            {
                <div class="message-warning">
                    @TempData["ErrorMessage"]
                </div>
            }

        </div>
        <div class="col-four tab-full contact__infos">
            <h4 class="h06">Phone</h4>
            <p>
                Phone: (+63) 555 1212<br>
                Mobile: (+63) 555 0100<br>
                Fax: (+63) 555 0101
            </p>

            <h4 class="h06">Email</h4>
            <p>
                someone@holawebsite.com<br>
                info@holawebsite.com
            </p>

            <h4 class="h06">Address</h4>
            <p>
                1600 Amphitheatre Parkway<br>
                Mountain View, CA<br>
                94043 US
            </p>
        </div>
    </div>
</section>