@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("LayoutHeadComponentPartial")

<body>
    <div class="wrapper">
        @await Component.InvokeAsync("LayoutNavbarComponentPartial")
        @await Component.InvokeAsync("LayoutSidebarComponentPartial")

        <div class="main-panel">
            @RenderBody() @* Content will be here *@
            @await Component.InvokeAsync("LayoutFooterComponentPartial")
        </div>
    </div>
</body>
@await Component.InvokeAsync("LayoutScriptComponentPartial")
</html>