@model Portfolio

@{
    ViewData["Title"] = "CreatePortfolio";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Portfolyo</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Proje Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-6">
                            <form method="post" asp-action="CreatePortfolio">
                                @Html.AntiForgeryToken()
                                <label>Proje Başlığı</label>
                                <input type="text" asp-for="ProjectTitle" class="form-control" />
                                <br />
                                <label>Proje Linki</label>
                                <input type="text" asp-for="ProjectLink" class="form-control" />
                                <br />
                                <label>Resim1</label>
                                <input type="text" asp-for="ImageSource" class="form-control" />
                                <br />
                                <label>Resim2</label>
                                <input type="text" asp-for="SecondImageSource" class="form-control" />
                                <br />
                                <label>Resim3</label>
                                <input type="text" asp-for="ThirdImageSource" class="form-control" />
                                <br />
                                <button class="btn btn-primary">Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
